# OS
.DS_Store

# Python env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.so

.venv/
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Py
build/
dist/
*.spec


# Go modules
feature-service/go.sum
feature-service/go.mod
feature-service/bin/
*.exe
*.out


# IDE 
.idea/
.vscode/
*.iml


# Docker
docker-data/
docker-compose.override.yml
*.tar
*.log
 
# Model dumps
mlflow/pg_data/*
mlruns/
**/mlruns/
mlflow/*
!docker/mlflow/Dockerfile
!mlflow/
!mlflow/*.py
!mlflow/pg_data/
!mlflow/m-a1c1873435df4f3986306afc75f6530f



# CatBoost models
*.cbm
*.bin

# SHAP
figures_eval/
*.png
*.svg
*.pdf
*.html

# Data samples
data/*
!data/
data_raw/
etl/samples/*

# Database
postgres/data/*
postgres/pg_data/*
*.db

# Secrets
*.pem
*.key
*.crt
*.p12
*.json
service_account.json
minio_credentials.json
config/local_*.yaml


# S3
minio/
minio-data/
minio/buckets/
**/bucket_cache/

# CI/CD
.gitlab-runner/config/
.gitlab-artifacts/
coverage/
*.coverage


# Archives
*.zip
*.rar
*.7z
*.tar.gz
*.tgz


# Misc
tmp/
temp/
cache/
*.bak
*.swp
*.swo