services:
  postgres:
    image: postgres:16
    container_name: feature-pg
    environment:
      POSTGRES_DB: ${FEATURE_PG_DB}
      POSTGRES_USER: ${FEATURE_PG_USER}
      POSTGRES_PASSWORD: ${FEATURE_PG_PASSWORD}
    ports:
      - "${FEATURE_PG_HOST_PORT:-5433}:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
      - ./postgres/dump:/var/lib/postgresql/dump
    networks:
      - feature-net

  api:
    build:
      context: .
      dockerfile: docker/feature-service/Dockerfile 
    container_name: feature-api
    depends_on:
      - postgres
    environment:
      POSTGRES_DSN: ${FEATURE_PG_DSN}
      PORT: "${FEATURE_API_PORT}"
    ports:
      - "${FEATURE_API_PORT}:${FEATURE_API_PORT}"
    networks:
      - feature-net

  camunda:
    image: camunda/camunda-bpm-platform:latest
    container_name: camunda
    ports:
      - "${CAMUNDA_PORT:-8080}:8080"
    environment:
      CAMUNDA_BPM_HISTORY_LEVEL: ${CAMUNDA_BPM_HISTORY_LEVEL:-full}
    depends_on:
      - api
    volumes:
      - ./camunda-data:/camunda/configuration/resources
    networks:
      - feature-net

  ml-api:
    build:
      context: .
      dockerfile: docker/ml-serve/Dockerfile 
    ports:
      - "${ML_API_PORT:-81}:81"
    env_file:
      - .env
    networks:
      - feature-net

  # Включить если сервисов станет больше и нужен шлюз
  # gateway:
  #   build:
  #     context: docker/nginx
  #     dockerfile: Dockerfile
  #   restart: always
  #   volumes: 
  #     - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./docker/nginx/config:/etc/nginx/conf.d:ro
  #     - static_file:/var/www/static:ro
  #   ports: 
  #     - "80:80"
  #   depends_on: 
  #     - ml-api
  #     - api
  #   networks:
  #     - feature-net

  mlflow-db:
    image: postgres:16
    container_name: mlflow-db
    environment:
      POSTGRES_USER: ${MLFLOW_DB_USER}
      POSTGRES_PASSWORD: ${MLFLOW_DB_PASSWORD}
      POSTGRES_DB: ${MLFLOW_DB_NAME}
    volumes:
      - ./mlflow/pg_data:/var/lib/postgresql/data
    ports:
      - "${MLFLOW_DB_HOST_PORT:-5434}:5432"
    networks:
      - feature-net

  minio:
    image: minio/minio
    command: server /data --console-address ":${MINIO_CONSOLE_PORT}"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKETS: ${MINIO_BUCKETS}
    ports:
      - "${MINIO_API_HOST_PORT:-9001}:9000"
      - "${MINIO_CONSOLE_HOST_PORT:-45369}:${MINIO_CONSOLE_PORT}"
    networks:
      - feature-net
    # mc version enable local/mlflow
    # mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}

  mlflow:
    build:
      context: .
      dockerfile: docker/mlflow/Dockerfile 
    depends_on:
      - mlflow-db
      - minio
    environment:
      MLFLOW_S3_ENDPOINT_URL: ${MLFLOW_S3_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${MLFLOW_S3_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${MLFLOW_S3_SECRET_KEY}
      MLFLOW_SERVER_ALLOWED_HOSTS: ${MLFLOW_ALLOWED_HOSTS:-*}
      MLFLOW_ALLOWED_HOSTS: ${MLFLOW_ALLOWED_HOSTS:-*}
      MLFLOW_ENABLE_DNS_REBIND_PROTECTION: "false"
    command: >
      mlflow server
        --serve-artifacts
        --default-artifact-root s3://${MLFLOW_S3_BUCKET}/
        --host 0.0.0.0
        --port ${MLFLOW_PORT}
        --backend-store-uri postgresql+psycopg2://${MLFLOW_DB_USER}:${MLFLOW_DB_PASSWORD}@mlflow-db:5432/${MLFLOW_DB_NAME}
